html, body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.container-fluid
{
    padding-left: 0px; 
    padding-right: 0px;
}
.navbar .container-fluid
{
    padding-left: 15px;
}
.small
{
    font-size: 0.8em;
}
.grey-text
{
    color: #999;
}
.red-text
{
    color: red;
}
.alert-marquee>ul
{
    list-style-type: none;
}
.alert-marquee>ul>li
{
    padding-bottom: 10px;
    padding-top: 10px;
}
.alert-marquee>ul>li:hover
{
    text-decoration: underline;
}
.alert-column
{
    font-size: 1.2em;
    cursor: pointer;
}
.customul
{
    list-style-type: none;
    display: none;
}
.customli:hover + .customul, .customul:hover
{
    display: block;
}
.body_section .row
{
    display: flex;
    flex-direction: row;
}
.alert-marquee
{
    height: 100%;
}
.map-area>img
{
    width: 72%;
    height: 100%;
    left: 26%;
    position: relative;
    cursor: pointer;
}
.map-area
{
    width: 100%;
    height: 450px;
    border-radius: 30px;
    margin-top: 10px;
}
.display-flex, .display-flex-col
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.space-around
{
    justify-content: space-evenly;
}
.display-flex-col
{
    flex-direction: row;
}
.room-matrix>div
{
    width: 150px;
    height: 130px;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    font-size: 18px;
    transition: all 0.35s;
}
.matrix-div>div
{
    width: 230px;
    height: 150px;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    font-size: 18px;
    transition: all 0.35s;
}
.matrix-div>div:hover, .room-matrix>div:hover
{
    transform: scale(1.04);
    position: relative;
    z-index: 10;
}
.matrix-div>div:hover .low, .room-matrix>div:hover .low
{
    box-shadow: 4px 4px 3px #888;
}
.matrix-div>div:hover .high, .room-matrix>div:hover .high
{
    box-shadow: 4px 4px 3px#4CAF50;
}
.matrix-div>div:hover .inactive, .room-matrix>div:hover .inactive
{
    box-shadow: 4px 4px 3px #F44336;
}
.matrix-div .high, .room-matrix .high
{
    background: rgba(38, 235, 45, 0.75);
    box-shadow: 3px 3px 2px #4CAF50;
}
.matrix-div .low, .room-matrix .low
{
    background: rgba(82, 82, 82, 0.7);
    box-shadow: 3px 3px 2px #888;
}
.matrix-div .inactive, .room-matrix .inactive
{
    background: rgba(244, 67, 54,0.75);
    box-shadow: 3px 3px 2px #F44336;
}
.back-btn
{
    color: white;
    background: rgba(128, 0, 0, 0.8);
    box-shadow: maroon;
}
.subrooms>ul
{
    list-style-type: none;
}
.subrooms>ul>li
{
    margin: 5px;
}
.subrooms
{
    display: none;
    z-index: 100;
    background: wheat;
    position: relative;
    padding: 5px;
}
.room:hover .subrooms
{
    display: block;
}
.room:hover .energy, .room:hover .bolt-icon
{
    display: none;
}
.energy-efficiency, .energy-efficiency>canvas 
{
    height: 100%;
    width: 95%;
}
.subrooms>ul>li:hover
{
    text-decoration: underline;
    cursor: pointer;
}
.bolt-icon
{
    margin-left: -30px;
}
#pie-chart-area
{
    height: 350px !important;
}
.matrix-area
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.matrix-about
{
    border: 2px dotted green;
    font-weight: 700;
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 230px;
    padding: 7px;
    text-align: center;
}
.current_view
{
    border: 2px dotted green;
    display: inline-block;
    padding: 7px;
    padding-left: 10px;
    padding-right: 0px; 
    font-weight: 700;
    font-size: 1.3em;
    width: 230px;
    margin-top: 5px;
}
.current_view:nth-child(2)
{
    margin-left: 10px;
}
.col
{
    box-shadow: 2px 2px 2px #999;
    padding-bottom: 10px; 
}
.big-chart
{
    height: 600px !important;
    width: 100%;
}
.btn-compare, .btn-roomcompare
{
    position: relative;
    left: 76%;
}
.rooms-chart
{
}
.compare-area
{
    background: wheat;
    color: black;
    z-index:10;
    width: 40%;
    left: 45%;
    position: absolute;
    box-shadow: 1px 1px #999;
    display: none;
}
.compare-list
{
    list-style-type: none;
    padding: 5px;
}
.compare-list ul
{
    list-style-type: none;
    z-index: 101;
    display: none;
}
.compare-list>li:hover ul
{
    display: block;
}
.compare-list>li:hover ul>li:hover
{
    text-decoration: underline overline;
    text-decoration-color: red;
}
.compare-list ul>li
{
    padding: 5px;  
}
.compare-list>li
{
    padding: 5px;
}
.compare-list>li:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.orangediv
{
    animation-name: orangediv;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 1; 
}
.room-matrix
{
    display: none;
}
.rooms-chart-dropdown
{
    font-size: 1.5em;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(236, 236, 110);
    text-align: center;
    height: 40px;
    cursor: pointer;
}
.leaflet-control-zoom a
{
    color: black !important;
}
.line-chart, .room-line-chart, .line-subchart
{
    width: 100%;
}
/*-------------------------------Keyframes-------------------------------------*/
@keyframes orangediv
{
    from
    {
        background: rgba(255, 194, 80, 0.6);
    }
    to
    {
        background: white;
    }
}
/*--------------------------Media Queries-------------------------------------*/
@media screen and (max-width: 900px)
{
    .body_section .row
    {
        display: block;
    }
    .current_view
    {
        display: block;
    }
    .map-area
    {
        margin-top: 0px;
    }

    .map-area>img
    {
        width: 90%;
        left: 4vw;
    }

}