html, body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    padding-right: 0px !important;
}
.container-fluid
{
    padding-left: 0px; 
    padding-right: 0px;
}
.navbar .container-fluid
{
    padding-left: 15px;
}
.small
{
    font-size: 0.8em;
}
.grey-text
{
    color: #999;
}
.red-text
{
    font-size: 1.3em;
    text-align: center;
    color: maroon;
    text-shadow: 1px 1px red;
    width: 120px;
    border: 2px dotted green;
}
.o-red-text
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.o-red-text ~ ul
{
    margin: 0px;
    margin-top: 20px;
    overflow-y: visible;
}
.o-red-text ~ul>li
{
    margin: 5px;
}
.totaldataused
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px; 
    font-size: 1.2em;
    font-weight: 800;
    background-image: url('../images/lightning.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    flex-direction: column;
}
.totalenergyhere, .lastupdatedhere
{
    margin: 10px;
    font-size: 1.35em;
}
.alert-marquee>ul
{
    list-style-type: none;
}
.alert-marquee>ul>li
{
    padding-bottom: 10px;
    padding-top: 10px;
}
.alert-marquee>ul>li:hover
{
    text-decoration: underline;
}
.alert-column
{
    font-size: 1.2em;
    cursor: pointer;
}
.customul
{
    list-style-type: none;
    display: none;
}
.customli:hover + .customul, .customul:hover
{
    display: block;
}
.body_section .row
{
    display: flex;
    flex-direction: row;
}
.alert-marquee
{
    height: 100%;
}

.map-area
{
    width: 100%;
    height: 450px;
    border-radius: 20px;
    margin-right: 10px;
}
.display-flex, .display-flex-col,.display-flex3
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.display-flex3
{
    flex-direction: column;
}
.space-around
{
    justify-content: space-evenly;
}
.display-flex-col
{
    flex-direction: row;
}
.room-matrix>div
{
    width: 145px;
    height: 130px;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    font-size: 18px;
    transition: all 0.35s;
}
.matrix-div>div
{
    width: 180px;
    height: 150px;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    font-size: 18px;
    transition: all 0.35s;
}
.matrix-div>div:hover, .room-matrix>div:hover
{
    transform: scale(1.04);
    position: relative;
    z-index: 10;
}
.matrix-div>div:hover .low, .room-matrix>div:hover .low
{
    box-shadow: 4px 4px 3px #888;
}
.matrix-div>div:hover .high, .room-matrix>div:hover .high
{
    box-shadow: 4px 4px 3px#4CAF50;
}
.matrix-div>div:hover .inactive, .room-matrix>div:hover .inactive
{
    box-shadow: 4px 4px 3px #F44336;
}
.matrix-div .high, .room-matrix .high
{
    background: rgba(38, 235, 45, 0.75);
    box-shadow: 3px 3px 2px #4CAF50;
}
.matrix-div .low, .room-matrix .low
{
    background: rgba(82, 82, 82, 0.7);
    box-shadow: 3px 3px 2px #888;
}
.matrix-div .inactive, .room-matrix .inactive
{
    background: rgba(244, 67, 54,0.75);
    box-shadow: 3px 3px 2px #F44336;
}
.back-btn
{
    color: white;
    background: rgba(128, 0, 0, 0.8);
    box-shadow: maroon;
}
.subrooms>ul
{
    list-style-type: none;
}
.subrooms>ul>li
{
    margin: 5px;
}
.subrooms
{
    display: none;
    z-index: 100;
    background: wheat;
    position: relative;
    padding: 5px;
}
.room:hover .subrooms
{
    display: block;
}
.room:hover .energy, .room:hover .bolt-icon
{
    display: none;
}
.energy-efficiency, .energy-efficiency>canvas 
{
    height: 100%;
    width: 95%;
}
.energy
{
    position: relative;
}
.subrooms>ul>li:hover
{
    text-decoration: underline;
    cursor: pointer;
}
.bolt-icon
{
    margin-left: -10px;
}
.matrix-area
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.matrix-about
{
    border: 2px dotted green;
    font-weight: 700;
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 230px;
    padding: 7px;
    text-align: center;
}
.o-matrix-about
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.matrix-legends
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.legendBox
{
    width: 26px;
    height: 11px;
    border: 1px solid rgb(47, 154, 255);
    margin: 5px;
}
.green-box
{
    background: #4CAF50;
}
.blue-box
{
    background-color: #3F51B5;
}
.grey-box
{
    background: #858585;
}
.current_view
{
    border: 2px dotted green;
    display: inline-block;
    padding: 7px;
    padding-left: 10px;
    padding-right: 0px; 
    font-weight: 700;
    font-size: 1.15em;
    width: 230px;
    margin-top: 5px;
}
.current_view:nth-child(2)
{
    margin-left: 10px;
}
.current_view:nth-child(3)
{
    margin-left: 10px;
    width: 270px;
}
.title-upper-charts
{
    text-align: center;
}
.chart-title
{
    font-weight: 700;
    font-size: 0.9em;
}
.chart-subtitle
{
    font-weight: 500;
    font-size: 0.8em;
    color: #666;
}
.col
{
    box-shadow: 2px 2px 2px #999;
    padding-bottom: 10px; 
}
.big-chart
{
    height: 600px !important;
    width: 100%;
}
.btn-compare, .btn-roomcompare
{
    position: relative;
}
.compare-area
{
    background: wheat;
    color: black;
    z-index:10;
    width: 40%;
    left: 45%;
    position: absolute;
    box-shadow: 1px 1px #999;
    display: none;
}
.compare-list
{
    list-style-type: none;
    padding: 5px;
}
.compare-list ul
{
    list-style-type: none;
    z-index: 101;
    display: none;
}
.compare-list>li:hover ul
{
    display: block;
}
.compare-list>li:hover ul>li:hover
{
    text-decoration: underline overline;
    text-decoration-color: red;
}
.compare-list ul>li
{
    padding: 5px;  
}
.compare-list>li
{
    padding: 5px;
}
.compare-list>li:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.orangediv
{
    animation-name: orangediv;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 1; 
}
.greydiv
{
    background: rgb(150,150,150,1);
}
.room-matrix
{
    display: none;
}
.rooms-chart-dropdown
{
    font-size: 1.5em;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(236, 236, 110);
    text-align: center;
    height: 40px;
    cursor: pointer;
}
.leaflet-control-zoom a
{
    color: black !important;
}
.line-chart, .room-line-chart, .line-subchart
{
    width: 100%;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  #loadingModal .modal-dialog
  {
    height: 70%;
  }
  #loadingModal .modal-content
  {
      background: rgba(0,0,0,0.0);
      box-shadow: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
  }
  
/*-------------------------------Keyframes-------------------------------------*/
@keyframes orangediv
{
    from
    {
        background: rgba(255, 194, 80, 0.6);
    }
    to
    {
        background: white;
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/*--------------------------Media Queries-------------------------------------*/
@media screen and (max-width: 900px)
{
    .body_section .row
    {
        display: block;
    }
    .current_view
    {
        display: block;
    }
    .map-area
    {
        margin-top: 0px;
    }

    .map-area>img
    {
        width: 90%;
        left: 4vw;
    }

    .matrix-div>div
    {
        width: 120px;
        height: 95px;
    }
    
}
@media screen and (max-width: 1300px)
{
    .matrix-div>div
    {
        width: 140px;
        height: 110px;
    }
}
@media screen and (max-width: 1500px)
{
    .matrix-div>div
    {
        width: 160px;
        height: 135px;
    }
}
/**-------------------------Webhism calender gadget-----------------------------------------*/
.ws-empty {
    display: none !important;
}

.hide-replaced.ws-inputreplace {
    display: none !important;
}
.ws-inline-picker
{
    min-width: 100%  !important;
}