<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <header>
    </header>
    <section class="container-fluid body_section">
        <div class="row container-fluid">
            <div class="col col-sm-6 col-md-4">
                <div class="pie-chart">
                    <canvas id="pie-chart-area"></canvas>
                </div>
            </div>
            <div class="col col-sm-6 col-md-4">Extra</div>
            <div class="col col-sm-6 col-md-4 alert-column">
                <span class="red-text">Alerts</span>
                <marquee direction="up" class="alert-marquee" scrollamount="2" onmouseover="this.stop();"
                    onmouseout="this.start();">
                    <ul>
                        <li>
                            This is ALert 1 <span class="small grey-text alert-date">26-05-2019</span>
                            <span class="small grey-text alert-time-elapsed">32 Minutes ago</span>
                        </li>
                        <li>
                            This is ALert 2 <span class="small grey-text alert-date">26-05-2019</span>
                            <span class="small grey-text alert-time-elapsed">2 Hours ago</span>
                        </li>
                        <li>
                            This is ALert 3 <span class="small grey-text alert-date">26-05-2019</span>
                            <span class="small grey-text alert-time-elapsed">2 Hours ago</span>
                        </li>
                        <li>
                            This is ALert 4 <span class="small grey-text alert-date">25-05-2019</span>
                            <span class="small grey-text alert-time-elapsed">1 Day ago</span>
                        </li>
                        <li>
                            This is ALert 5 <span class="small grey-text alert-date">20-05-2019</span>
                            <span class="small grey-text alert-time-elapsed">6 Day ago</span>
                        </li>
                    </ul>
                </marquee>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col col-sm-12 col-md-7 matrix-area">MAtrix here</div>
            <div class="col col-sm-12 col-md-5 display-flex-col">
                <div class="current_view">View :
                    <span class="view_text"> DAILY</span>
                </div>
                <div class="current_view">Location :
                    <span class="location_text"> DELHI</span>
                </div>
                <div id="map-area" class="map-area">
                </div>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col col-sm-12 col-md-12 big-chart-div">
                <button onclick="resetZoom()">Reset Zoom</button>
                <canvas class="big-chart"></canvas>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col col-sm-6 col-md-4 group1">Chart 1
                <button class="btn btn-primary btn-compare">Compare</button>
                <input type="hidden" class="compare-val" value="0">
                <div class="compare-area">
                    <ul class="compare-list">
                        <li class="compare-date">By Date</li>
                        <li class="compare-location">By Location</li>
                        <li>By Group</li>
                    </ul>
                </div>
                <canvas class="line-chart" id="line-canvas1"></canvas>
            </div>
            <div class="col col-sm-6 col-md-4 group2">Chart 2
                <button class="btn btn-primary btn-compare">Compare</button>
                <input type="hidden" class="compare-val" value="0">
                <div class="compare-area">
                    <ul class="compare-list">
                        <li class="compare-date">By Date</li>
                        <li class="compare-location">By Location</li>
                        <li>By Group</li>
                    </ul>
                </div>
                <canvas class="line-chart" id="line-canvas2"></canvas>
            </div>
            <div class="col col-sm-6 col-md-4 group3">Chart 3
                <button class="btn btn-primary btn-compare">Compare</button>
                <input type="hidden" class="compare-val" value="0">
                <div class="compare-area">
                    <ul class="compare-list">
                        <li class="compare-date">By Date</li>
                        <li class="compare-location">By Location</li>
                        <li>By Group</li>
                    </ul>
                </div>
                <canvas class="line-chart" id="line-canvas3"></canvas>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col col-sm-6 col-md-4 group4">Chart 4
                <button class="btn btn-primary btn-compare">Compare</button>
                <input type="hidden" class="compare-val" value="0">
                <div class="compare-area">
                    <ul class="compare-list">
                        <li class="compare-date">By Date</li>
                        <li class="compare-location">By Location</li>
                        <li>By Group</li>
                    </ul>
                </div>
                <canvas class="line-chart" id="line-canvas4"></canvas>
            </div>
            <div class="col col-sm-6 col-md-4 group5">Chart 5
                <button class="btn btn-primary btn-compare">Compare</button>
                <input type="hidden" class="compare-val" value="0">
                <div class="compare-area">
                    <ul class="compare-list">
                        <li class="compare-date">By Date</li>
                        <li class="compare-location">By Location</li>
                        <li>By Group</li>
                    </ul>
                </div>
                <canvas class="line-chart" id="line-canvas5"></canvas>
            </div>
            <div class="col col-sm-6 col-md-4 group6">Chart 6
                <button class="btn btn-primary btn-compare">Compare</button>
                <input type="hidden" class="compare-val" value="0">
                <div class="compare-area">
                    <ul class="compare-list">
                        <li class="compare-date">By Date</li>
                        <li class="compare-location">By Location</li>
                        <li>By Group</li>
                    </ul>
                </div>
                <canvas class="line-chart" id="line-canvas6"></canvas>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col col-sm-6 col-md-4 group7">Chart 7
                <button class="btn btn-primary btn-compare">Compare</button>
                <input type="hidden" class="compare-val" value="0">
                <div class="compare-area">
                    <ul class="compare-list">
                        <li class="compare-date">By Date</li>
                        <li class="compare-location">By Location</li>
                        <li>By Group</li>
                    </ul>
                </div>
                <canvas class="line-chart" id="line-canvas7"></canvas>
            </div>
            <div class="col col-sm-6 col-md-4 group8">Chart 8
                <button class="btn btn-primary btn-compare">Compare</button>
                <input type="hidden" class="compare-val" value="0">
                <div class="compare-area">
                    <ul class="compare-list">
                        <li class="compare-date">By Date</li>
                        <li class="compare-location">By Location</li>
                        <li>By Group</li>
                    </ul>
                </div>
                <canvas class="line-chart" id="line-canvas8"></canvas>
            </div>
            <div class="col col-sm-6 col-md-4 group9">Chart 9
                <button class="btn btn-primary btn-compare">Compare</button>
                <input type="hidden" class="compare-val" value="0">
                <div class="compare-area">
                    <ul class="compare-list">
                        <li class="compare-date">By Date</li>
                        <li class="compare-location">By Location</li>
                        <li>By Group</li>
                    </ul>
                </div>
                <canvas class="line-chart" id="line-canvas9"></canvas>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col col-sm-6 col-md-4 group10">Chart 10
                <button class="btn btn-primary btn-compare">Compare</button>
                <input type="hidden" class="compare-val" value="0">
                <div class="compare-area">
                    <ul class="compare-list">
                        <li class="compare-date">By Date</li>
                        <li class="compare-location">By Location</li>
                        <li>By Group</li>
                    </ul>
                </div>
                <canvas class="line-chart" id="line-canvas10"></canvas>
            </div>
            <div class="col col-sm-6 col-md-4 group11">Chart 11
                <button class="btn btn-primary btn-compare">Compare</button>
                <input type="hidden" class="compare-val" value="0">
                <div class="compare-area">
                    <ul class="compare-list">
                        <li class="compare-date">By Date</li>
                        <li class="compare-location">By Location</li>
                        <li>By Group</li>
                    </ul>
                </div>
                <canvas class="line-chart" id="line-canvas11"></canvas>
            </div>
            <div class="col col-sm-6 col-md-4 group12">Chart 12
                <button class="btn btn-primary btn-compare">Compare</button>
                <input type="hidden" class="compare-val" value="0">
                <div class="compare-area">
                    <ul class="compare-list">
                        <li class="compare-date">By Date</li>
                        <li class="compare-location">By Location</li>
                        <li>By Group</li>
                    </ul>
                </div>
                <canvas class="line-chart" id="line-canvas12"></canvas>
            </div>
        </div>
        <div class="energy-efficiency">
            <canvas class="efficiency-chart" id="efficiency-chart"></canvas>
        </div>
        <div class="container-fluid rooms-chart-dropdown">
            Rooms Chart
            <img src="images/down.svg" alt="down-icon" width="25">
        </div>
        <div class="container-fluid rooms-chart">

        </div>
    </section>
    <footer>
    </footer>
    <script src="scripts/Chart.min.js"></script>
    <script src="scripts/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.0"></script>
    <script src="scripts/piechart.js"></script>
    <script src="scripts/barchart.js"></script>
    <script src="scripts/linechart.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>